.faq {
    width: 60%;
    margin: 0 auto;
    padding: 40px 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: left;
    color: #4a125e;
  }
  
  .faq h2 {
    text-align: center;
    color: #4a125e;
    margin-bottom: 20px;
    font-size: 24px;
  }
  
  .faq-item {
    margin-bottom: 20px;
  }
  
  .faq-question {
    cursor: pointer;
    padding: 15px;
    background-color: #ffffff;
    
    border-radius: 8px;
    font-weight: bold;
  }
  
  .faq-answer {
    padding: 15px;
    background-color: #ffffff;
   
    border-radius: 8px;
    margin-top: 10px ;
    white-space: pre-line;
  }
  